<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inner-E</title>

    <!--<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.css">
    <link rel="stylesheet" href="css/custom.css">
    <style>body{padding-top:60px;}</style>
  </head>
  <body class="#">
    

<!--
<div id="root">
  <h2>All Tasks</h2>
<ul>
 
    <li v-for="task in tasks" 
        v-if="!task.completed" 
        @click="task.completed = !task.completed"> 
      {{task.description}} 
    </li>
</ul>

<input type="text" v-model="newTask"> 
<button type="" @click="addItem">Submit</button>


<h2>Incomplete Tasks</h2>
<ul>
  <li v-for="task in incompleteTasks" v-text="task.description"> </li>
</ul>
  
</div>-->


<!--<div id="root2">

  <task-list>
  </task-list>



</div>-->



  <!--<div id="root3" class="container">
    <message-box title="Hello World" body="lorem tom scill"></message-box>
     <message-box title="Hello Tom" body="You the best!"></message-box>
  </div>

  <div id="root4">
    <modal v-if="showModal" @close="showModal = false"></modal>
    <button @click="showModal = true">Show Modal</button>
  </div>

-->

<div id="root5" class="container">
  <tabs>
    <tab name="About Us" v-bind:selected="true">
      <h1>Here is about us tab</h1>
    </tab>

    <tab name="About Me">
      <h1>Here is about Me tab</h1>
    </tab>

    <tab name="Contact">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error esse sequi doloribus maxime nulla nostrum eveniet, dolor ipsum, soluta, aut aspernatur maiores velit, delectus consequuntur earum vero aperiam rerum dolores.</h1>
    </tab>
  </tabs>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>
<script type="text/javascript" src="main.js"></script>

<script>
  
</script>

</body>
</html>
